@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <section>


            <div class="text-center">
                <h1 class="display-4">Welcome</h1>

                <p><h1>Task-Management App</h1></p>
                <p><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Let's get started</a></p>

            </div>
        </section>
    </div>

                <div class="col-md-6 col-md-offset-2">
                    <section>
                        <img src="https://i.postimg.cc/cJCzqZnK/Home.jpg"
                            
                             class="responsive"/>
                        
                    </section>
                </div>


</div>

