@{
    ViewData["Title"] = "Main";
}


<!DOCTYPE html>
<html>
<body>
    <section>
        <h1>Project List</h1>
    </section>

    <section>
        <div class="row">
            
                <div>
                    <button id="login-submit" type="submit" class="w-25 btn btn-lg btn-primary">Create Project</button>
                </div>
            <div>
                
            </div>

        </div>
    
   </section>
</body>
</html>

