@page
@model ProjectPages.Areas.Tasks.CreateModel
@using TaskManagerLibrary.Models

@{
    ViewData["Title"] = "Create";
}

<h1>Create Task</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="TaskModel.Name" class="form-label">Name</label>
            </div>
            <div class="form-floating">
                <input asp-for="TaskModel.Name" class="form-control" aria-required="true" style="font-size:18pt;height:50px;width:300px;" />
                <span asp-validation-for="TaskModel.Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="TaskModel.Details" class="form-label">Details</label>
            </div>
            <div class="form-floating">
                <input asp-for="TaskModel.Details" class="form-control" aria-required="true" style="font-size:18pt;height:400px;width:300px;"  />
                <span asp-validation-for="TaskModel.Details" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="TaskModel.StartDate" class="control-label">Start Date</label>
            </div>
            <div class="form-floating">
                <input asp-for="TaskModel.StartDate" class="form-control" style="font-size:18pt;height:50px;width:300px;" />
                <span asp-validation-for="TaskModel.StartDate" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="TaskModel.EndDate" class="control-label">End Date</label>
            </div>
            <div class="form-floating">
                <input asp-for="TaskModel.EndDate" class="form-control" style="font-size:18pt;height:50px;width:300px;" />
                <span asp-validation-for="TaskModel.EndDate" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="TaskModel.EndDate" class="control-label">User</label>
            </div>
            <div class="form-floating">
                <input asp-for="TaskModel.User" class="form-control" style="font-size:18pt;height:50px;width:300px;" />
                <span asp-validation-for="TaskModel.User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
